<div class="form-group">
    <label for="pickStartDate">Default</label>
    <input type="text" class="form-control" id="pickStartDate" placeholder="Pick a date" v-pikaday="defaultDate">
</div>

<div class="form-group">
    <label for="chineseSupport">中文支持</label>
    <input type="text" class="form-control" id="chineseSupport" placeholder="选择一个日期" v-pikaday="chineseDate" lang="zh">
</div>

<div class="form-group">
    <label for="differentFormat">Different format</label>
    <input type="text" class="form-control" id="differentFormat" placeholder="Pick a date" v-pikaday="differentFormatDate" format="MMMM Do, YYYY">
</div>